.highlight {
  border-radius: 0.4rem;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.bold {
  border-radius: 0.4rem;
  color: lightblue;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.blue {
  background-color: lightcoral;
}
.red {
  background-color: lightblue;
}
.stform_submit_button>form_submit_button {
    background-color: #013369;
    color: white
    height: 3em
    width: 10em
}
